@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: azure;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
